In [1]:
import pandas as pd
import numpy as np

In [2]:
hn = pd.read_csv('/users/andeladeveloper/D3/python-projects/Data Engineering/HN_posts_year_to_Sep_26_2016.csv');
hn

,id,title,url,num_points,num_comments,author,created_at
0,12579008,You have two days to comment if you want stem ...,http://www.regulations.gov/document?D=FDA-2015...,1,0,altstar,9/26/2016 3:26
1,12579005,SQLAR the SQLite Archiver,https://www.sqlite.org/sqlar/doc/trunk/README.md,1,0,blacksqr,9/26/2016 3:24
2,12578997,What if we just printed a flatscreen televisio...,https://medium.com/vanmoof/our-secrets-out-f21...,1,0,pavel_lishin,9/26/2016 3:19
3,12578989,algorithmic music,http://cacm.acm.org/magazines/2011/7/109891-al...,1,0,poindontcare,9/26/2016 3:16
4,12578979,How the Data Vault Enables the Next-Gen Data W...,https://www.talend.com/blog/2016/05/12/talend-...,1,0,markgainor1,9/26/2016 3:14
...,...,...,...,...,...,...,...
293114,10176919,Ask HN: What is/are your favorite quote(s)?,NaN,15,20,kumarski,9/6/2015 6:02
293115,10176917,Attention and awareness in stage magic: turnin...,http://people.cs.uchicago.edu/~luitien/nrn2473...,14,0,stakent,9/6/2015 6:01
293116,10176908,Dying vets fuck you letter (2013),http://dangerousminds.net/comments/dying_vets_...,10,2,mycodebreaks,9/6/2015 5:56
293117,10176907,"PHP 7 Coolest Features: Space Ships, Type Hint...",https://www.zend.com/en/resources/php-7,2,0,Garbage,9/6/2015 5:55
293118,10176903,Toyota Establishes Research Centers with MIT a...,http://newsroom.toyota.co.jp/en/detail/9233109/,4,0,tim_sw,9/6/2015 5:50

In [6]:
len(hn)

293119

In [7]:
hn.num_comments.sum()

1912761

In [8]:
hn.num_comments.max()

2531

In [9]:
hn.num_comments.min()

0

In [10]:
hn.num_comments.mean()

6.5255442328883495

In [11]:
hn.num_comments.std()

30.376319445418506

In [12]:
hn.num_comments.percentile?

Object `hn.num_comments.percentile` not found.

In [13]:
total_sum_comments = hn.num_comments.sum()

In [14]:
avg_show_comments = hn.num_comments.mean()

In [15]:
### Post with the highest comments
post_with_highest_comment = hn[hn.num_comments == hn.num_comments.max()]

In [16]:
post_with_highest_comment

,id,title,url,num_points,num_comments,author,created_at
69169,11966167,UK votes to leave EU,http://www.bbc.co.uk/news/uk-politics-36615028,3125,2531,dmmalam,6/24/2016 3:48

In [18]:
### Height post comment author

post_with_highest_comment.author

69169    dmmalam
Name: author, dtype: object

In [19]:
hn.head(5)

,id,title,url,num_points,num_comments,author,created_at
0,12579008,You have two days to comment if you want stem ...,http://www.regulations.gov/document?D=FDA-2015...,1,0,altstar,9/26/2016 3:26
1,12579005,SQLAR the SQLite Archiver,https://www.sqlite.org/sqlar/doc/trunk/README.md,1,0,blacksqr,9/26/2016 3:24
2,12578997,What if we just printed a flatscreen televisio...,https://medium.com/vanmoof/our-secrets-out-f21...,1,0,pavel_lishin,9/26/2016 3:19
3,12578989,algorithmic music,http://cacm.acm.org/magazines/2011/7/109891-al...,1,0,poindontcare,9/26/2016 3:16
4,12578979,How the Data Vault Enables the Next-Gen Data W...,https://www.talend.com/blog/2016/05/12/talend-...,1,0,markgainor1,9/26/2016 3:14

In [21]:
hn.columns

Index(['id', 'title', 'url', 'num_points', 'num_comments', 'author',
       'created_at'],
      dtype='object')

In [40]:
post_starts_ask_hn = hn.apply(lambda x: x.title.startswith('Ask HN'), axis=1)

In [41]:
post_starts_ask_hn

0         False
1         False
2         False
3         False
4         False
          ...
293114     True
293115    False
293116    False
293117    False
293118    False
Length: 293119, dtype: bool

In [46]:
post_starts_ask_hn = hn[hn.apply(lambda x: x.title.startswith('Ask HN'), axis=1)]

In [47]:
post_starts_ask_hn

,id,title,url,num_points,num_comments,author,created_at
10,12578908,Ask HN: What TLD do you use for local developm...,NaN,4,7,Sevrene,9/26/2016 2:53
42,12578522,Ask HN: How do you pass on your work when you ...,NaN,6,3,PascLeRasc,9/26/2016 1:17
76,12577908,Ask HN: How a DNS problem can be limited to a ...,NaN,1,0,kuon,9/25/2016 22:57
80,12577870,Ask HN: Why join a fund when you can be an angel?,NaN,1,3,anthony_james,9/25/2016 22:48
102,12577647,Ask HN: Someone uses stock trading as passive ...,NaN,5,2,00taffe,9/25/2016 21:50
...,...,...,...,...,...,...,...
293047,10177359,Ask HN: Is coursera specialization in product ...,NaN,1,0,pipipzz,9/6/2015 11:27
293052,10177317,Ask HN: Any meteor devs out there who could sp...,NaN,2,1,louisswiss,9/6/2015 10:52
293055,10177309,Ask HN: Any recommendations for books about ra...,NaN,2,4,rationalthrowa,9/6/2015 10:46
293073,10177200,Ask HN: Where do you look for work if you need...,NaN,14,20,coroutines,9/6/2015 9:36
293114,10176919,Ask HN: What is/are your favorite quote(s)?,NaN,15,20,kumarski,9/6/2015 6:02

In [48]:
show_posts_hn = hn[hn.apply(lambda x: x.title.startswith('Show HN'), axis=1)]

In [49]:
show_posts_hn

,id,title,url,num_points,num_comments,author,created_at
52,12578335,Show HN: Finding puns computationally,http://puns.samueltaylor.org/,2,0,saamm,9/26/2016 0:36
58,12578182,Show HN: A simple library for complicated anim...,https://christinecha.github.io/choreographer-js/,1,0,christinecha,9/26/2016 0:01
64,12578098,Show HN: WebGL visualization of DNA sequences,http://grondilu.github.io/dna.html,1,0,grondilu,9/25/2016 23:44
70,12577991,"Show HN: Pomodoro-centric, heirarchical projec...",https://github.com/jakebian/zeal,2,0,dbranes,9/25/2016 23:17
140,12577142,Show HN: Jumble Essays on the go #PaulInYourP...,https://itunes.apple.com/us/app/jumble-find-st...,1,1,ryderj,9/25/2016 20:06
...,...,...,...,...,...,...,...
292995,10177714,Show HN: Repartee The SMS Messaging Stack for...,https://github.com/markgreenall/Repartee,2,0,Nuratu,9/6/2015 14:21
293002,10177631,Show HN: Immutable and type-checked state and ...,https://github.com/gcanti/redux-tcomb,20,2,gcanti,9/6/2015 13:50
293019,10177511,Show HN: MockTheClock A tiny JavaScript libra...,https://github.com/zb3/MockTheClock,18,6,zb3,9/6/2015 13:02
293028,10177459,Show HN: AppyPaper Gift wrap with app icons p...,http://www.appypaper.com/,6,4,submitstartup,9/6/2015 12:38
293037,10177421,Show HN: Popularity scoring for arXiv publicat...,https://gist.github.com/nebw/5504697c118744677c2d,17,1,nebw,9/6/2015 12:16

In [59]:
neither_show_nor_ask = hn[hn.apply(lambda x: x.title.startswith('Show HN') != True or x.title.startswith('Ask HN') != True, axis=1)]

In [60]:
neither_show_nor_ask

,id,title,url,num_points,num_comments,author,created_at
0,12579008,You have two days to comment if you want stem ...,http://www.regulations.gov/document?D=FDA-2015...,1,0,altstar,9/26/2016 3:26
1,12579005,SQLAR the SQLite Archiver,https://www.sqlite.org/sqlar/doc/trunk/README.md,1,0,blacksqr,9/26/2016 3:24
2,12578997,What if we just printed a flatscreen televisio...,https://medium.com/vanmoof/our-secrets-out-f21...,1,0,pavel_lishin,9/26/2016 3:19
3,12578989,algorithmic music,http://cacm.acm.org/magazines/2011/7/109891-al...,1,0,poindontcare,9/26/2016 3:16
4,12578979,How the Data Vault Enables the Next-Gen Data W...,https://www.talend.com/blog/2016/05/12/talend-...,1,0,markgainor1,9/26/2016 3:14
...,...,...,...,...,...,...,...
293114,10176919,Ask HN: What is/are your favorite quote(s)?,NaN,15,20,kumarski,9/6/2015 6:02
293115,10176917,Attention and awareness in stage magic: turnin...,http://people.cs.uchicago.edu/~luitien/nrn2473...,14,0,stakent,9/6/2015 6:01
293116,10176908,Dying vets fuck you letter (2013),http://dangerousminds.net/comments/dying_vets_...,10,2,mycodebreaks,9/6/2015 5:56
293117,10176907,"PHP 7 Coolest Features: Space Ships, Type Hint...",https://www.zend.com/en/resources/php-7,2,0,Garbage,9/6/2015 5:55
293118,10176903,Toyota Establishes Research Centers with MIT a...,http://newsroom.toyota.co.jp/en/detail/9233109/,4,0,tim_sw,9/6/2015 5:50

In [63]:
#### Average number of comments for post_starts_ask_hn

print('The average comments for\n\nPost_starts_ask_hn: {0}\n\nShow_posts_hn: {1}\n\nNeither_show_nor_ask: {1}'.format(
    post_starts_ask_hn.num_comments.mean(),
    show_posts_hn.num_comments.mean(), neither_show_nor_ask.num_comments.mean()))

The average comments for

Post_starts_ask_hn: 10.406709055031792

Show_posts_hn: 4.888374384236453

Neither_show_nor_ask: 4.888374384236453

In [64]:
post_starts_ask_hn

,id,title,url,num_points,num_comments,author,created_at
10,12578908,Ask HN: What TLD do you use for local developm...,NaN,4,7,Sevrene,9/26/2016 2:53
42,12578522,Ask HN: How do you pass on your work when you ...,NaN,6,3,PascLeRasc,9/26/2016 1:17
76,12577908,Ask HN: How a DNS problem can be limited to a ...,NaN,1,0,kuon,9/25/2016 22:57
80,12577870,Ask HN: Why join a fund when you can be an angel?,NaN,1,3,anthony_james,9/25/2016 22:48
102,12577647,Ask HN: Someone uses stock trading as passive ...,NaN,5,2,00taffe,9/25/2016 21:50
...,...,...,...,...,...,...,...
293047,10177359,Ask HN: Is coursera specialization in product ...,NaN,1,0,pipipzz,9/6/2015 11:27
293052,10177317,Ask HN: Any meteor devs out there who could sp...,NaN,2,1,louisswiss,9/6/2015 10:52
293055,10177309,Ask HN: Any recommendations for books about ra...,NaN,2,4,rationalthrowa,9/6/2015 10:46
293073,10177200,Ask HN: Where do you look for work if you need...,NaN,14,20,coroutines,9/6/2015 9:36
293114,10176919,Ask HN: What is/are your favorite quote(s)?,NaN,15,20,kumarski,9/6/2015 6:02

In [69]:
import datetime as dt
date_1_str = "December 24, 1984"
date_1_dt = dt.datetime.strptime(date_1_str, "%B %d, %Y")

In [70]:
date_1_dt

datetime.datetime(1984, 12, 24, 0, 0)

In [77]:
post_starts_ask_hn.apply(lambda x: dt.datetime.strptime(x.created_at, "%B/%d/%Y "), axis=1)

ValueError: ("time data '9/26/2016 2:53' does not match format '%B/%d/%Y '", 'occurred at index 10')